{% extends "base.html" %}

{% block title %}Survive About{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<script src="{{ url_for('static', filename='js/about.js')}}"></script>
<script type="module" src="{{ url_for('static', filename='js/getStarfield.js') }}"></script>
<audio autoplay hidden>
    <source src="{{ url_for('static', filename='swbad.mp3') }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
  
<!-- Shooting Stars HTML Structure -->
<div class="shooting-stars">
    <!-- Added more shooting stars -->
    <div class="shooting-star" style="top: 5%; left: 5%; animation-delay: 0s;"></div>
    <div class="shooting-star" style="top: 10%; left: 15%; animation-delay: 1s;"></div>
    <div class="shooting-star" style="top: 15%; left: 25%; animation-delay: 2s;"></div>
    <div class="shooting-star" style="top: 20%; left: 35%; animation-delay: 3s;"></div>
    <div class="shooting-star" style="top: 25%; left: 45%; animation-delay: 4s;"></div>
    <div class="shooting-star" style="top: 30%; left: 55%; animation-delay: 5s;"></div>
    <div class="shooting-star" style="top: 35%; left: 65%; animation-delay: 6s;"></div>
    <div class="shooting-star" style="top: 40%; left: 75%; animation-delay: 7s;"></div>
    <div class="shooting-star" style="top: 45%; left: 85%; animation-delay: 8s;"></div>
    <div class="shooting-star" style="top: 50%; left: 10%; animation-delay: 9s;"></div>
    <div class="shooting-star" style="top: 55%; left: 20%; animation-delay: 10s;"></div>
    <div class="shooting-star" style="top: 60%; left: 30%; animation-delay: 11s;"></div>
    <div class="shooting-star" style="top: 65%; left: 40%; animation-delay: 12s;"></div>
    <div class="shooting-star" style="top: 70%; left: 50%; animation-delay: 13s;"></div>
    <div class="shooting-star" style="top: 75%; left: 60%; animation-delay: 14s;"></div>
    <div class="shooting-star" style="top: 80%; left: 70%; animation-delay: 15s;"></div>
    <div class="shooting-star" style="top: 85%; left: 80%; animation-delay: 16s;"></div>
    <div class="shooting-star" style="top: 90%; left: 90%; animation-delay: 17s;"></div>
    <div class="shooting-star" style="top: 95%; left: 10%; animation-delay: 18s;"></div>
    <div class="shooting-star" style="top: 5%; left: 95%; animation-delay: 19s;"></div>
    <div class="shooting-star" style="top: 10%; left: 80%; animation-delay: 20s;"></div>
    <div class="shooting-star" style="top: 15%; left: 65%; animation-delay: 21s;"></div>
    <div class="shooting-star" style="top: 20%; left: 50%; animation-delay: 22s;"></div>
    <div class="shooting-star" style="top: 25%; left: 35%; animation-delay: 23s;"></div>
    <div class="shooting-star" style="top: 30%; left: 20%; animation-delay: 24s;"></div>
    <div class="shooting-star" style="top: 35%; left: 5%; animation-delay: 25s;"></div>
    <div class="shooting-star" style="top: 40%; left: 90%; animation-delay: 26s;"></div>
    <div class="shooting-star" style="top: 45%; left: 75%; animation-delay: 27s;"></div>
    <div class="shooting-star" style="top: 50%; left: 60%; animation-delay: 28s;"></div>
    <div class="shooting-star" style="top: 55%; left: 45%; animation-delay: 29s;"></div>
    <div class="shooting-star" style="top: 60%; left: 30%; animation-delay: 30s;"></div>
</div>

    <section class="intro">
        A long time ago, in a galaxy not too <br> far away
    </section>
    <section class="logo">
        <img src="static/images/logo_binary.png" alt="Binary Stars Games">
    </section>
    <div id="scroller">
        <div id="content">
            <p id="title">XenoFall</p>
            <p id="subtitle">presented by Binary Stars</p>
            <br>
            <p>Our team, Binary Stars, chose this name as a double entendre, with meanings in both computing and astronomy. In computing, "binary" refers to the 1s and 0s that represent data, while "stars" symbolize key systems. In astronomy, "binary stars" are two stars orbiting a common center. This name reflects the duality of the digital world and space, connecting our team to the space-themed XenoFall game. Compete for the top spot on our leaderboard, enjoy powerups, and challenge your agility against enemies. Thanks for joining our growing community!</p>
            <br>
            <p>Xenofall is a retro-inspired 2D space shooter game, reminiscent of classics like Galaxian, where players control a spacecraft to fend off waves of alien invaders. Players can collect power-ups to enhance their offensive capabilities however the enemies dynamically respond adding a layer of difficulty for the player. Xenofall came about as the "Xeno" means alien and "fall" means... well, you know.</p>
        </div>
    </div>

    <div id="end">
        <p id="title">XenoFall</p>
        <p id="subtitle">presented by Binary Stars</p>
        <br>
        <p>Our team, Binary Stars, chose this name as a double entendre, with meanings in both computing and astronomy. In computing, "binary" refers to the 1s and 0s that represent data, while "stars" symbolize key systems. In astronomy, "binary stars" are two stars orbiting a common center. This name reflects the duality of the digital world and space, connecting our team to the space-themed XenoFall game. Compete for the top spot on our leaderboard, enjoy powerups, and challenge your agility against enemies. Thanks for joining our growing community!</p>
        <br>
        <p>Xenofall is a retro-inspired 2D space shooter game, reminiscent of classics like Galaxian, where players control a spacecraft to fend off waves of alien invaders. Players can collect power-ups to enhance their offensive capabilities however the enemies dynamically respond adding a layer of difficulty for the player. Xenofall came about as the "Xeno" means alien and "fall" means... well, you know.</p>
    </div>


{% endblock %}

