{% extends "base.html" %}

{% block title %}Xenofall Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>
<div class="page">
    <svg id="svgback" viewBox="100 0 10000 500" width="100%" height="100%">
        <defs>
            <linearGradient id="backGradient" x1="0" y1="0" x2="1" y2="1" gradientUnits="userSpaceOnUse">
                <stop style="stop-color:#d4b500;" offset="0%" />
                <stop style="stop-color:#008b07;" offset="100%" />
            </linearGradient>
            <linearGradient id="backGradientA" x1="0" y1="0" x2="1" y2="1" gradientUnits="userSpaceOnUse">
                <stop style="stop-color:#ffd900;" offset="0%" />
                <stop style="stop-color:#ffcece;" offset="100%" />
            </linearGradient>
            <linearGradient id="backGradientB" x1="0" y1="0" x2="1" y2="1" gradientUnits="userSpaceOnUse">
                <stop style="stop-color:#000ecf;" offset="0%" />
                <stop style="stop-color:#00ffcc;" offset="100%" />
            </linearGradient>
        </defs>
        <path
            d="M 0 0 L 2000 0"  stroke="url(#backGradient)" stroke-width="50" class="line1"
        />
        <!-- <path
            d="M -10 0 L 1000 0" fill="none" stroke="url(#backGradientA)" stroke-width="12" class="line2"
        />  -->
        <path
            d="M 0 100 L 1000 100" stroke="url(#backGradientB)" stroke-width="50" class="line3"
        />
    </svg>
    <div class="container">
        <div class="left">
            <div class="login">Login</div>
            <div class="eula">
                By logging in you agree to the ridiculously long terms that you didn't bother to read
            </div>
            <div class="small-padding">Don't have an account yet? Sign up <a href="{{ url_for('signup') }}" style="color: red;">Here</a> </p></div>
        </div>
        <div class="right">
            <svg viewBox="0 0 320 300" width="320" height="300">
                <defs>
                    <linearGradient id="simpleGradient" x1="13" y1="193.49992" x2="302" y2="193.49992" gradientUnits="userSpaceOnUse">
                        <stop style="stop-color:#1801e6;" offset="0%" />
                        <stop style="stop-color:#00ffcc;" offset="100%" />
                    </linearGradient>
                </defs>
                <path
                    d="M 25 25 L 250 25 L 250 250 L 25 250 Z" fill="url(#simpleGradient)" stroke="url(#simpleGradient)" stroke-width="10"
                />
                <!-- <path
                    d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" fill="url(#simpleGradient)" stroke-width="10"
                /> -->
            </svg>
            <form class="form" method="POST" action="{{ url_for('login') }}">
                <label for="email">Email</label>
                <input type="email" placeholder="Ex:JohnnyApple@aol.com" id="email" name="email" required>
                <label for="password">Password</label>
                <input type="password" placeholder="BadPassword123" id="password" name="password" required>
                <button type="submit" id="submit" class="startbutton">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
